body {
	background-color: #F5F5F5;
}
header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background: #F5F5F5;
    top: 0;
    padding: 21px 137px;
}
nav, ul, li {
	display: inline-block;
}
li {
	height: 13px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 11px;
	line-height: 13px;

	color: #000000;
	margin-right: 35px;
	vertical-align: middle;
}
.girl {
	position: absolute;
	width: 32px;
	height: 32px;

	background: url(image.png);

	vertical-align: middle;
}
.container {
	width: 1170px;
	margin: 0 auto;
}

.s-1 {
	margin-bottom: 60px;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 27px;
}

.card1, .card2, .card3 {
	width: 362px;
	height: 400px;
	display: inline-block;
	background-color: #FFFFFF;
	border-radius: 5px;
	vertical-align: top;
}
.card1, .card2 {
	margin-right: 36px;
}

.img1, .img2, .img3 {
	width: 100%;
	margin-bottom: 68px;
}

.card-photo {
	position: relative;
}

h3 {
	position: absolute;
	top: 32px;
	left: 41px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;

}

p {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 30px;
	color: #8A8787;
	width: 238px;
	margin-bottom: 12px;
	margin-left: 37px;
}

.clock {
	display: inline-block;
	margin-right: 12px;
	margin-left: 40px;
}

h6 {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #8A8787;

}

h5 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 30px;
	z-index: 100px;
	margin-top: 60px;
}

.left-photos {
	width: 758px;
	display: inline-block;
	vertical-align: top;
	margin-right: 42px;
}

.img7 {
	margin-bottom: 42px;
}

.img7, .img8, .img9, .img10, .img11 {
	width: 100%;
}

.right-photos {
	width: 362px;
	display: inline-block;
	vertical-align: top;
}

.img9 {
	margin-bottom: 98px;
}

.img10 {
	margin-bottom: 103px;
}
footer {
	position: absolute;
	width: 1349px;
	height: 201px;
	background: #243043;
}
.s-2 {
	margin-bottom: 36px;
}
.f-ul {
	line-height: 24px;	
}
.f-li {
	color: #818687;
	font-size: 12px;
	font-family: Roboto;
	font-weight: 700;
}
.li-div-1 {
	position: absolute;
	width: 60px;
	top: 59px;
	left: 137px;
	
}
.li-div-2 {
	position: absolute;
	width: 60px;
	top: 59px;
	left: 266px;	
}
.li-div-3 {
	position: absolute;
	width: 70px;
	top: 59px;
	left: 417px;
}
h2 {
	position: absolute;
	color: #FFF;
	font-size: 12px;
	font-family: Roboto;
	top: 59px;
	left: 599px;
}
.logo {
	position: absolute;
	top: 58px;
	left: 1265px;
}
.img7-div {
	position: relative;

}
h1 {
	position: absolute;
    
    color: #FFF;
	font-size: 20px;
	font-family: Roboto;
	font-weight: 700;
	top: 43%;
    left: 35%;
	transform: translate(-50% -50%);
}